<%
	g_storeid = "hubutu"
	g_store_mode = "retail"
	g_connection_string = "Provider=SQLOLEDB;Data Source=localhost;Database=GSHOP;uid=dinamall_hanta_user;pwd=hanta_pw0105;"
	g_connection_icecat_catalog = "Provider=SQLOLEDB;Data Source=localhost;Database=ICECAT1;uid=dinamall_hanta_user;pwd=hanta_pw0105;"
	g_connection_icecat_main = "Provider=SQLOLEDB;Data Source=localhost;Database=ICECAT1;uid=dinamall_hanta_user;pwd=hanta_pw0105;"
	g_store_url = "http://hubutu.olivecommerce.com/"
	g_secure_url = "http://hubutu.olivecommerce.com/"
	g_skin_base_url = "http://hubutu.olivecommerce.com/"
	g_skin_base_secure_url = "http://hubutu.olivecommerce.com/"
	g_cloudinary_url = "http://a4.res.cloudinary.com/dd3llssvr/image/fetch/"
	g_noimage_url = "http://res.cloudinary.com/dd3llssvr/image/upload/v1423588444/noimage_t0tp8k.png"
	g_specdata_url = "http://192.168.5.134/icecat/"
	g_crypt_key ="80yb@Q900435"

	'OPTIONAL SETTINGS
	g_use_icecat_catalog = "1"
	g_store_use_icecat_catalog = "1"
	g_store_use_system = "1"
%>