body {
    font-size: 12px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.input-daterange .input-group-addon {
    text-shadow: 0 0px 0 #fff;
}

.content-header-floating { display:none; position:fixed; left:0; top:0; width:100%; border-bottom:solid 1px #988753; z-index:100; background:#cce5ff; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)"/* IE8 */; opacity:.85; }
.content-header-floating .content-header { padding:6px 8px 4px 8px; margin-bottom:0; border:0; }
.content-header-floating td     { padding-right:20px; }
.content-header-floating button { margin-top:3px; }
.content-header-floating .content-buttons { float:right; /* margin:12px 25px 0 0;*/ }
.content-buttons { margin-bottom:5px; float:right; display:inline; white-space:nowrap; }
.content-header-floating .form-buttons {padding-right:20px; }
.content-header-floating h3 {margin-left:80px; display:inline;text-transform: uppercase; }

/* LOADING INDICATOR
*******************************************************************/
#loading-process {
    position:absolute;
    top:45%;
    left:50%;
    margin-left:-60px;
    border:2px solid #f1af73;
    padding:15px 60px;
    background:#fff4e9;
    color:#d85909;
    font-size:1.1em;
    font-weight:bold;
    text-align:center;
    z-index:501;
    }
#loading-mask {
    position:absolute;
    color:#d85909;
    font-size:1.1em;
    font-weight:bold;
    text-align:center;
    opacity:0.80;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* IE8 */
    z-index:500;
    }
#loading-mask .loader {
    position:fixed;
    top:45%;
    left:50%;
    width:150px;
    margin-left:-105px;
    padding:15px 30px;
    background:#fff4e9;
    border:2px solid #007aff;
    color:#007aff;
    font-weight:bold;
    text-align:center;
    z-index:1000;
    }
/* ---------------------------------------------------------------------- */
/*	Flot Chart
 /* ---------------------------------------------------------------------- */
.flot-container {
	box-sizing: border-box;
	position: relative;
	height: 450px;
}
.flot-placeholder {
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}
.legend table {
	border-spacing: 5px;
}
.flot-container #choices {
	position: absolute;
	width: 135px;
	right: 0;
	top: 0;
}
#placeholder2 {
	margin-right: 135px;
}
.flot-small-container {
	height: 300px;
}
.flot-mini-container {
	height: 135px;
}
.flot-medium-container {
	height: 360px;
}